/* global css properties */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  max-width: 1440px;
  width: 100%;
  margin: 1rem auto;
  font-family: "Inter", cursive;
  font-size: 15px;
}
